.g1
{
    display: grid;
    grid-template-columns: repeat( 4,1fr);;
    grid-template-rows: auto;
    gap:10px;
    background-color:  blue;
    padding:10px;
    height: 200px;
}
.box
{
    background-color: yellow ;
    padding: 20px;
    text-align: center;
    font-size: 20px;
}
