 h2
        {
         color:aquamarine;
         font-size: '60px';
         font-family:'Times New Roman';
         text-align: center;
         background-color: black;
        }
 pre
        {
         color:aquamarine;
         font-size: '60px';
         background-color: black;
        }