.container
{
    position: relative;
}
.b1
{
    position: absolute;
    top: 10px;
    right:10px;
}
.b2
{
    position: absolute;
    bottom: 10px;
    left: 15px;
}
img
{
    height: auto;
    opacity: 0.4;
    width: 100%;
}