/* .d1
{
    height: 200px;
    width: 200px;
    padding: 30px;
    margin: 100px auto;
    text-align: center;
    font-size: 30px;
    background-color: blueviolet;
    border: 5px solid green;
}
.i1
{
    height: 200px;
    width:200px;
    border-radius: 50px;
    border: 2px solid;
      opacity: 0.7;
}
.d1:hover
{
    opacity: 1.0;
    transform: translate(50px,100px);
    background-color: pink;
    
    box-shadow:10px 15px 15px 15px black ;
}
.i1:hover
{
    opacity: 1.0;
    transform: translate(50px,100px);
    background-color: pink;
    transform: scale(1) skew(20deg,20deg);
    box-shadow:10px 15px 15px 15px black ;
}
.d2
{
    padding: 20px;
    margin: 100px auto;
    border:3px solid;
    background-color: yellow;
    width: 300px;
     transition-property:box-shadow,border-radius,transform;
    transition-duration: 55,65,105;
    transition-delay: 0s;
    transition-timing-function: ease-out;
}
.i2{
    width: 100%;
    border-radius:35px;
    height: auto;
     transition-property:box-shadow,border-radius,transform;
    transition-duration: 9000s,1000s,1000s;
    transition-delay: 0s;
    transition-timing-function: cubic-bezier(0.39, 0.575, 0.565, 1);
}
.i2:hover
{
  opacity: 1.0; 
  transform: skew(30deg,0) rotate(10000000000deg);
  box-shadow: 10px 10px 10px black;
  border-radius:50% ;
  border: 7px double red;
  width: 100%;
  height:100%;
  background-color: blue;
}
.d3
{   
    border-radius: 50%;
    transform: rotate(360deg);
    animation-name: forwards;
    animation-timing-function: ease-out;
    animation-duration: 100s;
    animation-delay: 0ms;
    animation-iteration-count: 10;
    animation-direction: normal;
}
@keyframes forwards
{
    from{
        color: aqua;
    }
    to {
        color: blue;
    }
} */
.d4
{
    border-radius: 50%;
    border-color: red;
    border-width: 3px;
    width: 200px;
    height: 300px;
    position: absolute;
    /* animation:abc 20s 2s ease-in infinite normal; */
    animation-name: abc;
    animation-duration: 10s;
    animation-delay: 1s;
    background-color: black;
    padding: 20px;
    animation-direction: alternate;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;

}
@keyframes abc
{
    0%{
        background-color: aqua;
        top: 0%;
        left:0%;
        
    }
    20%
    {
        background-color: blueviolet;
        height: 100px;
        top:50%;
        left:10%
    }
    40%
    {
        background-color: rgb(56, 213, 77);
      top:50%;
        left:30%
    }
     60%
    {
        background-color: rgb(130, 31, 187);
        top:50%;
        left:30%
    }
     80%
    {
        background-color: rgb(80, 41, 44);
      top:50%;
        left:30%
    }
    100% {
         background-color: blue;
       top:50%;
        left:30%
        }
}
